<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<add name="TestCUSDTA"
		 connectionString="Server=EESIBM02;DATABASE=CUSDTA;PWD=db2power;UID=DB2INST1;Persist Security Info=True;Connection Lifetime=60;Connection Reset=false;Min Pool Size=0;Max Pool Size=100;Pooling=true;"
		 providerName ="IBM.Data.DB2" />
  </connectionStrings>
</configuration>